### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

#District Summary

 Calculate the total number of schools

 Calculate the total number of students

 Calculate the total budget

 Calculate the average math score 

 Calculate the average reading score

 Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

 Calculate the percentage of students with a passing math score (70 or greater)

 Calculate the percentage of students with a passing reading score (70 or greater)

 Create a dataframe to hold the above results

 Optional: give the displayed data cleaner formatting

In [2]:
#calculating total no of schools

Total_schools_df = school_data_complete.groupby(["school_name"]).sum()
Total_schools_df = Total_schools_df.reset_index()
Total_schools_df["school_name"].count()

15

In [3]:
school = school_data_complete["school_name"].values
school

array(['Huang High School', 'Huang High School', 'Huang High School', ...,
       'Thomas High School', 'Thomas High School', 'Thomas High School'],
      dtype=object)

In [4]:
#Calculating total no of students

Total_students = school_data_complete["student_name"].count()
Total_students

39170

In [5]:
#Calculating total Budget

Budget_list = school_data_complete["budget"].drop_duplicates()
total_budget = Budget_list.sum()
total_budget

24649428

In [6]:
#Calculating average math score
Average_math_score = school_data_complete["math_score"].mean()
Average_math_score

78.98537145774827

In [7]:
#Calculating average reading score
Average_reading_score = school_data_complete["reading_score"].mean()
Average_reading_score

81.87784018381414

In [8]:
#calculate passing rate
passing_rate_average = (Average_math_score + Average_reading_score)/2
passing_rate_average

80.43160582078121

In [9]:
#calculating students passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"] >=70)].count()["student_name"]
passing_math_count

29370

In [10]:
#Calculating percent passing math
per_passed_math = passing_math_count/float(Total_students)*100
per_passed_math

74.9808526933878

In [11]:
#calculating students reading math
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_count

33610

In [12]:
#Calculating percent passing reading
per_passed_reading = passing_reading_count/float(Total_students)*100
per_passed_reading

85.80546336482001

## School Summary

In [13]:
school_data_complete["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [14]:
# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
Avg_math_score=school_data_complete.groupby(["school_name"]).mean()["math_score"]
Avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
Avg_reading_score=school_data_complete.groupby(["school_name"]).mean()["reading_score"]
Avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [20]:
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [21]:
per_passing_students=(per_school_passing_math + per_school_passing_reading)/2
per_passing_students

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [22]:
School_summary=pd.DataFrame({
#                                   "School": school,
                                  "School Type": school_types,
                                  "Total Students": per_school_counts,
                                  "Total School Budget": per_school_budget,
                                  "Per Student Budget": per_school_capita,
                                  "Average Math Score": Avg_math_score,
                                  "Average Reading Score": Avg_reading_score,
                                  "% Passing Math": per_school_passing_math,
                                  "% Passing Reading": per_school_passing_reading,
                                  "% Overall Passing Rate": per_passing_students})
# School_summary.reset_index()
# School_summary.index.name ="school_name"
# School_summary
#
School_summary["School"] = School_summary.index
School_summary.reset_index(level=0, inplace = True)
School_summary

,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School
0,Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,Bailey High School
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,Cabrera High School
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,Figueroa High School
3,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,Ford High School
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,Griffin High School
5,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,Hernandez High School
6,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,Holden High School
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,Huang High School
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,Johnson High School
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,Pena High School
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,Rodriguez High School
11,Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,Shelton High School
12,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,Thomas High School
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,Wilson High School
14,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,Wright High School

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [25]:
top_schools = School_summary.sort_values(["% Overall Passing Rate"], ascending=False)
top_schools.head(5)

,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,Cabrera High School
12,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,Thomas High School
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,Pena High School
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,Griffin High School
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,Wilson High School

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [26]:
bottom_schools = School_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_schools.head(5)

,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,Rodriguez High School
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,Figueroa High School
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,Huang High School
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,Johnson High School
3,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,Ford High School

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
Ninth_grader=school_data_complete[(school_data_complete["grade"] == "9th")]

Tenth_grader=school_data_complete[(school_data_complete["grade"] == "10th")]

Eleventh_grader=school_data_complete[(school_data_complete["grade"] == "11th")]

Twelveth_grader=school_data_complete[(school_data_complete["grade"] == "12th")]

Ninth_grader_scores = Ninth_grader.groupby(["school_name"]).mean()["math_score"]

Tenth_grader_scores = Tenth_grader.groupby(["school_name"]).mean()["math_score"]

Eleventh_grader_scores = Eleventh_grader.groupby(["school_name"]).mean()["math_score"]

Twelveth_grader_scores = Twelveth_grader.groupby(["school_name"]).mean()["math_score"]

In [ ]:
# Combine series into single data frame
math_scores_by_grade = pd.DataFrame({"9th": Ninth_grader_scores, "10th": Tenth_grader_scores,
                               "11th": Eleventh_grader_scores, "12th": Twelveth_grader_scores})

math_scores_by_grade.name=None
math_scores_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
Ninth_grader=school_data_complete[(school_data_complete["grade"] == "9th")]

Tenth_grader=school_data_complete[(school_data_complete["grade"] == "10th")]

Eleventh_grader=school_data_complete[(school_data_complete["grade"] == "11th")]

Twelveth_grader=school_data_complete[(school_data_complete["grade"] == "12th")]

Ninth_grader_scores = Ninth_grader.groupby(["school_name"]).mean()["reading_score"]

Tenth_grader_scores = Tenth_grader.groupby(["school_name"]).mean()["reading_score"]

Eleventh_grader_scores = Eleventh_grader.groupby(["school_name"]).mean()["reading_score"]

Twelveth_grader_scores = Twelveth_grader.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Combine series into single data frame
reading_scores_by_grade = pd.DataFrame({"9th": Ninth_grader_scores, "10th": Tenth_grader_scores,
                               "11th": Eleventh_grader_scores, "12th": Twelveth_grader_scores})

reading_scores_by_grade.index.name=None
reading_scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#create new table
school_summary_overall=School_summary.iloc[:,[0,4,5,6,7,8,9]]
school_summary_overall.reset_index()
school_summary_overall

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_labels = ["low spending", "medium spending", "high spending", "very high spending"]

In [ ]:
#School_summary_final=School_summary_overall.groupby(["index"])
High_spending_school= pd.cut(school_summary_overall["Per Student Budget"], spending_bins, labels=group_labels, right=False)
High_spending_school

In [ ]:
school_summary_overall['school spending'] = pd.cut(school_summary_overall["Per Student Budget"], spending_bins, labels=group_labels, right=False)
school_summary_overall

In [ ]:
high_spending_schools = school_summary_overall.sort_values(["Per Student Budget"], ascending=False)
high_spending_schools.reset_index()
high_spending_schools

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
school_summary_size=School_summary.iloc[:,[0,2,5,6,7,8,9]]
school_summary_size.reset_index()
school_summary_size

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
school_summary_size['school size'] = pd.cut(school_summary_size["Total Students"], size_bins, labels=group_labels, right=False)
school_summary_size.head()

In [ ]:
school_size = school_summary_size.sort_values(["Total Students"], ascending=False)
school_size.reset_index()
school_size

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
school_summary_type=School_summary.iloc[:,[0,1,5,6,7,8,9]]
school_summary_type.reset_index()
school_summary_type

In [ ]:
# Sample bins. Feel free to create your own bins.
type_bins = [District, Charter]
group_labels = ["1", "2"]

In [ ]:
school_summary_type['school type'] = pd.cut(school_summary_type["School Type"], type_bins, labels=group_labels, right=False)
school_summary_type.head()

In [ ]:
school_type = school_summary_overall.sort_values(["School Type"], ascending=False)
school_type.reset_index()
school_type

In [ ]:
ObservedTrends:
    1. Going through the trends on the school data it is observed that size of the school is important factor
    for the school's overall passing rate.
    2. It is also observed that even spending more on each student will not result the high passing rate.
    3. Most of the top performning school according to passing rate are Charter schools and least performing schools are District Schools.