### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [7]:
player_count = len(purchase_data_df["SN"].value_counts())


player_count_df = pd.DataFrame([player_count] , columns = ["Total Players"])
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
unique_items = len(purchase_data_df["Item ID"].unique())

average_price = purchase_data_df["Price"].mean()

number_of_purchases = purchase_data_df["Purchase ID"].count()

total_revenue = purchase_data_df["Price"].sum()


purchase_analysis = pd.DataFrame({
    "Numbers of Unique Items": unique_items,
    "Average Price": [average_price],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue": [total_revenue]
    })

purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)

purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:}".format)

purchase_analysis

   Numbers of Unique Items Average Price  Number of Purchases Total Revenue
0                      183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
gender = purchase_data_df.loc[:,["Gender", "SN"]]
gender = gender.drop_duplicates()

gender_total = gender["Gender"].value_counts()
gender_percent = gender_total / player_count*100

gender_demographics = pd.DataFrame({
    "Total Count": gender_total,
    "Percentage of Players": gender_percent
    })

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
gender_analysis_total = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Number of Purchases")

gender_average_price = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Price")

gender_total_purchase = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Purchase Totals")

avg_totalpurchase_perperson = gender_total_purchase / gender_total

gender_purchasing_analysis = pd.DataFrame({
    "Number of Purchases": gender_analysis_total,
    "Average Price": gender_average_price,
    "Purchase Totals": gender_total_purchase,
    "Avg. Purchase Total/Person": avg_totalpurchase_perperson
    })

gender_purchasing_analysis["Average Price"] = gender_purchasing_analysis["Average Price"].map("${:.2f}".format)
gender_purchasing_analysis["Purchase Totals"] = gender_purchasing_analysis["Purchase Totals"].map("${:.2f}".format)
gender_purchasing_analysis["Avg. Purchase Total/Person"] = gender_purchasing_analysis["Avg. Purchase Total/Person"].map("${:.2f}".format)

gender_purchasing_analysis

,Number of Purchases,Average Price,Purchase Totals,Avg. Purchase Total/Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
age_players = purchase_data_df.loc[:,["Age","SN"]]
age_players = age_players.drop_duplicates()
age_existing_players = age_players["Age"].value_counts()

bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_data = pd.cut(age_players["Age"], bins_age, labels=labels).value_counts()

age_percent = age_data / player_count * 100

age_demographics = pd.DataFrame({
    "Number of Players of X Age": age_data,
    "% of Players of X Age": age_percent
    })

age_demographics["% of Players of X Age"] = age_demographics["% of Players of X Age"].map("{:.2f}".format)

age_demographics.sort_index()

       Number of Players of X Age % of Players of X Age
<10                            17                  2.95
10-14                          22                  3.82
15-19                         107                 18.58
20-24                         258                 44.79
25-29                          77                 13.37
30-34                          52                  9.03
35-39                          31                  5.38
40+                            12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purchase_data_df["Ranges of Age"] = pd.cut(purchase_data_df["Age"], bins_age, labels=labels)

age_analysis_total = purchase_data_df.groupby(["Ranges of Age"]).count()["Price"].rename("Purchase Count")

age_average_price = purchase_data_df.groupby(["Ranges of Age"]).mean()["Price"].rename("Average Purchase Price")

age_total_purchase = purchase_data_df.groupby(["Ranges of Age"]).sum()["Price"].rename("Total Purchase Value")

age_totalpurchase_perperson = age_total_purchase / age_data

age_purchasing_analysis = pd.DataFrame({
    "Purchase Count": age_analysis_total,
    "Average Purchase Price": age_average_price,
    "Total Purchase Value": age_total_purchase,
    "Avg Total Purchase per Person": age_totalpurchase_perperson
    })

age_purchasing_analysis["Average Purchase Price"] = age_purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis["Total Purchase Value"] = age_purchasing_analysis["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis["Avg Total Purchase per Person"] = age_purchasing_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
                                                                                                                    

age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
sn_players = purchase_data_df.loc[:,["SN"]]
sn_players = sn_players.drop_duplicates()
sn_existing_players = sn_players["SN"].value_counts()

sn_analysis_total = purchase_data_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

sn_average_price = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")

sn_total_purchase = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")


sn_purchasing_analysis = pd.DataFrame({"Purchase Count": sn_analysis_total,
                              "Average Purchase Price": sn_average_price,
                              "Total Purchase Value": sn_total_purchase})

sn_purchasing_analysis = sn_purchasing_analysis.sort_values("Total Purchase Value", ascending=False)

sn_purchasing_analysis["Average Purchase Price"]=sn_purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
sn_purchasing_analysis["Total Purchase Value"]=sn_purchasing_analysis["Total Purchase Value"].map("${:.2f}".format)

sn_purchasing_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
item_id = purchase_data_df.groupby("Item ID").sum().reset_index()
item_name_sum = purchase_data_df.groupby("Item Name").sum().reset_index()
item_name_count = purchase_data_df.groupby("Item Name").count().reset_index()


item_id_sum = pd.merge(item_id, item_name_sum, on="Price")

item_id_count = pd.merge(item_name_count, item_id_sum, on="Item Name")

item_id_count["Gender"] = (item_id_count["Price_y"]/item_id_count["Item ID"]).round(2)

item_id_count_rename = item_id_count.rename(columns={"Age" : "Purchase Count", "Gender" : "Item Price", "Item ID" : "null", "Price_y" : "Total Purchase Value", "Item ID_y" : "Item ID"})

clean_item = item_id_count_rename[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

popular_item = clean_item.set_index(["Item ID", "Item Name"])

popular_item_total = popular_item.sort_values("Purchase Count", ascending=False).head(5)

popular_item_total.style.format({"Item Price" : "${:.2f}", "Total Purchase Value" : "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
profit_items = popular_item_total.sort_values("Total Purchase Value", ascending=False).head(5)
profit_items.style.format({"Item Name": "${:.2f}", "Total Purchase Value": "${:.2f}"})